<!DOCTYPE html>
<html lang="en">

<head>
    <title>Andrei Anelkin</title>
    <meta charset="utf-8">
    <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
    >
    <meta
            name="description"
            content=""
    >
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    >

</head>

<body>
<header-component title="'Andrei Anelkin'"></header-component>
<div class="container">
    <main type="main">
        <ui-view></ui-view>
    </main>

</div>
</body>

</html>