<div class="container">
    <div ng-show="!$ctrl.userService.currentUser">
        <h1>{{ 'INFO.FORGOTPAGETITLE' | translate }}</h1>
        <form
            name='forgotPasswordForm'
            ng-submit="onSubmit(forgotPasswordForm)"
        >
            <div class="form-group">
                <label>{{'INFO.USERNAME' | translate}}
                    <input
                        class="form-control"
                        ng-model="$ctrl.user.name"
                        name="userName"
                        ng-change="$ctrl.onChange(forgotPasswordForm.userName)"
                        required
                    >
                </label>
                <div ng-show="forgotPasswordForm.userName.$submitted || forgotPasswordForm.userName.$touched">
                    <div
                        ng-show="forgotPasswordForm.userName.$error['required']"
                        class="alert alert-danger"
                    >
                        {{'INFO.USERNAME' | translate}} {{'ERROR.REQUIRED' | translate}}.
                    </div>
                    <div
                        ng-show="forgotPasswordForm.userName.$error['isBadName']"
                        class="alert alert-danger"
                    >
                        {{'ERROR.USERNOTFOUND' | translate}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{'INFO.OLDPASSWORD' | translate}}
                    <input
                        type="password"
                        class="form-control"
                        ng-model="$ctrl.user.oldPassword"
                        name="oldPassword"
                        required
                    >
                </label>
                <div ng-show="forgotPasswordForm.oldPassword.$submitted || forgotPasswordForm.oldPassword.$touched">
                    <div
                        ng-show="forgotPasswordForm.oldPassword.$error['required']"
                        class="alert alert-danger"
                    >
                        {{'INFO.PASSWORD' | translate}} {{'ERROR.REQUIRED' | translate}}
                    </div>
                    <div
                        ng-show="forgotPasswordForm.oldPassword.$error['minlength']"
                        class="alert alert-danger"
                    >
                        {{'ERROR.MINLENGTH' | translate}} 4
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{'INFO.NEWPASSWORD' | translate}}
                    <input
                        type="password"
                        class="form-control"
                        ng-change="$ctrl.onChange(forgotPasswordForm.newPassword)"
                        ng-model="$ctrl.user.newPassword"
                        name="newPassword"
                        required
                    >
                </label>
                <div ng-show="forgotPasswordForm.newPassword.$submitted || forgotPasswordForm.newPassword.$touched">
                    <div
                        ng-show="forgotPasswordForm.newPassword.$error['required']"
                        class="alert alert-danger"
                    >
                        {{'INFO.PASSWORD' | translate}} {{'ERROR.REQUIRED' | translate}}.
                    </div>
                    <div
                        ng-show="forgotPasswordForm.newPassword.$error['minlength']"
                        class="alert alert-danger"
                    >
                        {{'ERROR.MINLENGTH' | translate}} 4
                    </div>
                    <div
                        ng-show="forgotPasswordForm.newPassword.$error['badPassword']"
                        class="alert alert-danger"
                    >
                        {{'ERROR.BADPASSWORDLOGIN' | translate}}
                    </div>
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-success"
                ng-disabled="!$ctrl.isEmptyObject(forgotPasswordForm.$error)"
            >{{'INFO.SUBMITBTN' | translate}}
            </button>
        </form>
        <a
            ui-sref="auth.login"
            class="btn btn-info"
        >{{'INFO.BACKTOLOGIN' | translate}}</a>
    </div>
    <div ng-show="$ctrl.userService.currentUser">
        <h1>{{ 'LOGIN.LOGGED' | translate }}</h1>
        <button
            ng-click="onClickLogout()"
            class="btn btn-danger align-self-lg-center"
        > {{'INFO.LOGOUT' | translate}}
        </button>
    </div>


</div>
